<tr>
<div class="post">
	<blockquote>
	<%= form_for @vote do |f| %>
	<div class="right">	<%= image_submit_tag "plus32.png", :size => "16x16", :class => "squareicon" %><%= post.votes_count %></div>
	<div id="postbody">
	<h3><%= post.title %></h3>
	<p><%= post.content %></p>
	<small><%= post.user.name %></small>
	</div>
	<%= f.hidden_field "post_id", :value => post.id %>
	<%= f.hidden_field "user_id", :value => post.user.id %>

	<% end %>
	</blockquote>
</div>
</tr>