<tr>
<div class="post">
	<blockquote>
	<%= form_for @vote do |f| %>
	<div class="right">	<%= image_submit_tag "plus32.png", :size => "16x16", :class => "squareicon" %>
	<span class="label success"><%= post.votes_count %></span>
	</div>
	<div id="postbody">
	<% if post.title %>
	<h3><%= link_to post.title, post.link %></h3>
	<% end %>
	<p><%= post.content %></p>
	<small><%= link_to post.user.name, post.user %></small>
	<% if user_signed_in? %>
	<% if current_user == @user %>
    <%= link_to "delete", post, :method => :delete,
                                :confirm => "You sure?",
 								:class => "danger btn"%>
	<% end %>
	<% end %>
	</div>
	<%= f.hidden_field "post_id", :value => post.id %>

	<% end %>
	</blockquote>
</div>
</tr>