<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application" %>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] %>">
    <div id="container">
      <header>
        <nav>
		<div class="topbar">
		<div class="fill">
		<div class="container">
		<h3><a href="#">Learning Quotient</a></h3>
		<ul>
            <%= render 'shared/navigation' %>
		</ul>
		</div>
		</div>
		</div>
        </nav>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_\#{name}" if msg.is_a?(String) %>
        <%- end -%>
      </header>
      <div id="main" role="main" class="container">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>